.albumList {
  border-top: 2px solid $color-gray-200;
  margin-top: $space-x8;
  padding-top: $space-x8;

  &__content {
    display: flex;
    flex-direction: column;
    gap: $space-x2;

    &--list {
      display: flex;
      flex-direction: column;
      gap: $space-x2;
    }

    &--grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
      gap: $space-x3;

      @media (min-width: $breakpoint-sm) {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}
