.albumListItem {
  border: 1px solid $color-gray-100;
  border-radius: $radius-base;
  padding: $space-x4;
  display: flex;
  align-content: center;
  justify-content: space-between;

  &__title {
    font-size: $font-size-title;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: $space-x4;

    &--btn {
      max-height: $space-x6;
      @include flex-center;
      cursor: pointer;
      transition: all 0.3s ease-in;

      &:hover {
        img {
          filter: brightness(0) saturate(100%);
        }
      }

      &--liked {
        img {
            filter: brightness(0) saturate(100%) invert(39%) sepia(76%) saturate(581%) hue-rotate(195deg) brightness(82%) contrast(102%);
        }
      }
    }
  }

  &--grid {
    aspect-ratio: 1 / 1;
    display: block;
    position: relative;
    padding: $space-x;

    .albumListItem__title {
        text-align: center;
    }

    .albumListItem__actions {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        padding: $space-x3;
    }
  }
}
